<div style="display: flex;padding: 15px; background-color: rgb(169, 236, 236);">
    <div style="padding:5px; margin: 5px;border: 1px solid black; background-color: aquamarine;"><a href="/">Home</a></div>
    <div style="padding:5px; margin: 5px;border: 1px solid black; background-color: aquamarine;"><a href="/posts">Posts</a></div>
    <div style="padding:5px; margin: 5px;border: 1px solid black; background-color: aquamarine;"><a href="/add-post">New Post</a></div>
    <div style="padding:5px; margin: 5px;border: 1px solid black; background-color: aquamarine;"><a href="/contacts">Contacts</a></div>
</div>