<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main>
        <hr>
        <h1>Error</h1>
        <h3>Something going wrong</h3>
        <p>error error error</p>
        <hr>
    </main>
    <footer>
        <p>call 911</p>
    </footer>
</body>
</html>