<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header>
    <h1>index html</h1>
    <%- include('./partials/nav.ejs') %>
    </header>
    <main>
        <hr>
        <h3>Personal Blog</h3>
        <p>In this project I use Node.js, EJS, MongoDb</p>
        <hr>
    </main>
    <footer>
        <p>some footer</p>
    </footer>
</body>
</html>